#loading {
    width: inherit;
    height: inherit;
    z-index: 9999;
    background-color: #f0f0f0;
    opacity: .3;
    position: absolute;
    min-height: 1200px;
    top: 274px;
}

#loading img {
    text-align: center;
    margin: auto;
    width: 50%;
    display: block;
    font-size: 24px;
}
a {
    cursor: pointer;
}