<div class="aside" tabindex="-1" role="dialog" style="display: block;">
    <div class="aside-dialog">
        <div class="aside-content">
            <div class="aside-header">
                <button type="button" class="close" ng-click="$hide()">×</button>
                <h4 class="aside-title">Add An Idea</h4></div>
            <div class="aside-body">
                <div class="span5">
                    <h5>Title</h5>
                    <input type="text" class="form-control" ng-model="idea.name"/>
                </div>
                <div class="span5">
                    <h5>Category</h5>
                    <select ng-options="c.id as c.name for c in categories" ng-model="idea.category_id"
                            class="form-control"></select>
                </div>
                <div class="span5">
                    <h5>Is Draft?</h5>
                    <input type="checkbox" ng-model="idea.is_draft" />
                </div>
                <div class="span5" ng-repeat="(k,v) in questions">
                    <h5>{{v.label}}</h5>
                    <textarea ng-model="idea.data[k]" ng-if="v.type == 'RichTextArea'"
                              class="form-control"
                              ng-required="v.validators.required"></textarea>
                    <select ng-options="c.id as c.name for c in categories" ng-model="idea.data[k]"
                            class="form-control"
                            ng-required="v.validators.required"
                            ng-if="v.type == 'IdeaCategory'"></select>
                    <select ng-required="v.validators.required"
                            class="form-control"
                            ng-options="c.name as c.name for c in keywords"
                            ng-model="idea.data[k]" ng-if="v.type == 'Keywords'" multiple></select>
                </div>

            </div>
            <div class="aside-footer">
                <button type="button" class="btn btn-default" ng-click="$hide()">Close</button>
                <button type="button" class="btn btn-primary" ng-click="saveIdea();$hide()">Save changes</button>
            </div>
        </div>
    </div>
</div>