<div class="row">
    <div class="col-lg-12">

        <h4>
            <a href="#/challenge/{{challenge.id}}">{{challenge.name}}</a>

            > {{stage.name}}</h4>

    </div>
    <div class="col-lg-12">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>User</th>
                <th>&nbsp;</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="s in stage_admins">
                <td>{{userMap[s.user_id].email}}</td>
                <td>
                    <button class="btn btn-danger" ng-click="removeStageAdmin(s.user_id)">
                        <i class="fa fa-close"></i> Remove Admin
                    </button>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td>
                    <select ng-model="a.user_id" ng-options="u.id as u.email for u in users"
                            class="form-control"
                            ></select>
                </td>
                <td>
                    <a class="btn btn-primary" ng-click="addStageAdmin(a.user_id)">
                        <i class="fa fa-user-plus"></i>
                        Add Admin</a>
                </td>
            </tr>
            </tfoot>
        </table>
    </div>

</div>