<div class="row">
    <div class="col-lg-12">

        <h4>{{challenge.name}} > Ideas</h4>

    </div>
    <div class="col-lg-12">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Stage</th>
                <th>&nbsp;</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="s in stages">
                <td>{{s.name}}</td>
                <td>
                    <a href="#/challenge/{{challenge.id}}/stage/{{s.id}}">Details</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-lg-12">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Idea</th>
                <th>Creator</th>
                <th>
                    <!-- You can use a custom html template with the `data-template` attr -->
                    <button type="button" class="btn btn-danger" ng-click="addIdea()">
                        Add Idea
                    </button>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="i in ideas">
                <td>{{i.name}}</td>
                <td>{{userMap[i.creator_id].email}}</td>
                <td>
                    <a href="#/idea/{{i.id}}">Details</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>