<div class="row">
    <div class="col-lg-12">

        <h4>

            <a href="#/communities">Community </a> &gt; {{community.name}}
        </h4>

    </div>
    <div class="col-lg-12">
        <table class="table">
            <tbody>
            <tr>
                <td><strong>Community Manager</strong></td>
                <td>
                    <table class="table table-bordered table-condensed">
                        <thead>
                        <tr>
                            <th>User</th>
                            <th>&nbsp;</th>
                        </tr>
                        </thead>
                        <tr ng-repeat="a in managers">
                            <td> {{userMap[a.user_id].email}}</td>
                            <td>
                                <a ng-click="removeAdmin(a.user_id)" class="btn btn-warning">
                                    <i class="fa fa-close"></i>
                                    Remove Manager
                                </a>
                            </td>
                        </tr>
                        <tfoot>
                        <tr>
                            <td>
                                <select ng-model="a.user_id" ng-options="u.id as u.email for u in users"
                                        class="form-control"
                                        ></select>
                            </td>
                            <td>
                                <a class="btn btn-primary" ng-click="addAdmin(a.user_id)">
                                    <i class="fa fa-user-plus"></i>
                                    Add Manager</a>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                </td>
            </tr>
            <tr>
                <td><strong>Community Members</strong></td>
                <td>
                    <table class="table table-bordered table-condensed">
                        <thead>
                        <tr>
                            <th>User</th>
                            <th>&nbsp;</th>
                        </tr>
                        </thead>
                        <tr ng-repeat="a in members">
                            <td class=""> {{userMap[a.user_id].email}}</td>

                            <td class="">


                                <a ng-click="removeMember(a.user_id)" class="btn btn-danger">
                                    <i class="fa fa-close"></i>
                                    Remove Member
                                </a>
                            </td>
                        </tr>
                        <tfoot>
                        <tr>
                            <td>
                                <select ng-model="s.user_id" ng-options="u.id as u.email for u in users"
                                        class="form-control"
                                        ></select>
                            </td>
                            <td>
                                <a class="btn" ng-click="addMember(s.user_id)">
                                    <i class="fa fa-user-plus"></i>
                                    Add Member</a>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>