<div class="row">
    <div class="col-lg-12">

        <h4>

            <a href="#/conversations">Conversation </a> &gt; {{conversation.name}}
        </h4>

    </div>
    <div class="col-lg-12">
        <table class="table">
            <tbody>
            <tr>
                <td><strong>Comment Admins</strong></td>
                <td>
                    <table class="table table-bordered table-condensed">
                        <thead>
                        <tr>
                            <th>User</th>
                            <th>&nbsp;</th>
                        </tr>
                        </thead>
                        <tr ng-repeat="a in conversationAdmins">
                            <td> {{userMap[a.user_id].email}}</td>
                            <td>
                                <a ng-click="removeAdmin(a.user_id)" class="btn btn-warning">
                                    <i class="fa fa-close"></i>
                                    Remove Admin
                                </a>
                            </td>
                        </tr>
                        <tfoot>
                        <tr>
                            <td>
                                <select ng-model="a.user_id" ng-options="u.id as u.email for u in users"
                                        class="form-control"
                                        ></select>
                            </td>
                            <td>
                                <a class="btn btn-primary" ng-click="saveAdmin(a.user_id)">
                                    <i class="fa fa-user-plus"></i>
                                    Add Admin</a>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                </td>
            </tr>
            <tr>
                <td><strong>Shared With</strong></td>
                <td>
                    <table class="table table-bordered table-condensed">
                        <thead>
                        <tr>
                            <th>User</th>
                            <th>&nbsp;</th>
                        </tr>
                        </thead>
                        <tr ng-repeat="a in conversationShares">
                            <td class=""> {{userMap[a.user_id].email}}</td>

                            <td class="">


                                <a ng-click="unShareConv(a.user_id)" class="btn btn-danger"><i class="fa fa-close"></i>
                                Un-Share
                                </a>
                            </td>
                        </tr>
                        <tfoot>
                        <tr>
                            <td>
                                <select ng-model="s.user_id" ng-options="u.id as u.email for u in users"
                                        class="form-control"
                                        ></select>
                            </td>
                            <td>
                                <a class="btn" ng-click="shareConv(s.user_id)">
                                    <i class="fa fa-share"></i>
                                    Share</a>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                </td>
            </tr>
            <tr>
                <td><strong>Comments</strong></td>
                <td>
                    <table class="table table-bordered table-condensed">
                        <thead>
                        <tr>
                            <th>Comment</th>
                            <th>User</th>
                            <th>&nbsp;</th>
                        </tr>
                        </thead>
                        <tr ng-repeat="c in conversationComments" ng-class="{'danger':c.is_deleted}">
                            <td class="">{{c.comment}}</td>
                            <td class="">{{userMap[c.creator_id].email}}</td>
                            <td class="">
                                <a ng-if="!c.is_deleted" ng-click="deleteConvComment(c.id)" class="btn btn-danger">
                                    <i class="fa fa-close"></i>Delete Comment</a>
                            </td>
                        </tr>
                        <tfoot>
                        <tr>
                            <td>
                                <textarea class="form-control" ng-model="c.comment"></textarea>
                            </td>
                            <td>
                                <select ng-model="c.creator_id" ng-options="u.id as u.email for u in users"
                                        class="form-control"
                                        ></select>
                            </td>
                            <td>
                                <a ng-click="saveComment()" class="btn btn-success">
                                    <i class="fa fa-save"></i>Save Comment</a>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>