<div class="row">
    <div class="col-lg-12">
        <form action="">
            <fieldset>
                <legend>Conversations</legend>
            </fieldset>
        </form>
    </div>
    <div class="col-lg-12">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Conversation</th>
                <th>&nbsp;</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="c in conversations">
                <td>{{c.name}}</td>
                <td>
                    <a href="#/conversation/{{c.id}}">View</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>