<div class="row">
    <div class="col-lg-12">
        <h4>
            <a href="#/challenge/{{challenge.id}}">{{challenge.name}}</a> > {{idea.name}}
        </h4>
    </div>
    <div class="col-lg-12">
        <table class="table table-bordered">
            <tbody>
            <tr>
                <td><strong>Name</strong></td>
                <td>{{idea.name}}</td>
            </tr>
            <tr>
                <td><strong>Creator</strong></td>
                <td>{{userMap[idea.creator_id].email}}</td>
            </tr>
            <tr>
                <td><strong>Likes/Shares</strong></td>
                <td>
                    <span title="Upvotes"><i class="fa fa-thumbs-up"></i> {{(ideaVotes|filter:upVote).length}} </span><br/>
                    <span title="Downvotes"><i class="fa fa-thumbs-down"></i> {{(ideaVotes|filter:downVote).length}} </span><br />
                    <span title="Shares"><i class="fa fa-share"></i> {{ideaShares.length}}</span>
                </td>
            </tr>
            <tr>
                <td><strong>Comments</strong> - <i class="fa fa-comment"></i> {{ideaComments.length}}</td>
                <td>
                    <table class="table table-condensed">
                        <thead>
                        <tr>
                            <th>Comment</th>
                            <th>User</th>
                            <th>&nbsp;</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="c in ideaComments" ng-class="{'danger':c.is_deleted}">
                            <td>{{c.comment}}</td>
                            <td>{{userMap[c.creator_id].email}}</td>
                            <td>
                                <a ng-if="!c.is_deleted" ng-click="deleteComment(idea.id, c.id)">Delete</a>
                            </td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <td>
                                <textarea ng-model="c.comment" placeholder="New Comment" class="form-control"></textarea>
                            </td>
                            <td>
                                <select ng-options="u.id as u.email for u in users" ng-model="c.creator_id"></select>
                            </td>
                            <td>
                                <button class="btn btn-mini btn-success" ng-click="saveComment()">Save Comment</button>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>