<!DOCTYPE html>
<html ng-app="WazokuDemoApp">
<head lang="en">
    <meta charset="UTF-8">
    <title>Wazoku API - DEMO (GOD Mode)</title>
    <script type="text/javascript" src="./js/all.js"></script>
    <link href="./css/all.css" rel="stylesheet">
</head>
<body>
<header class="navbar navbar-static-top bs-docs-nav" id="top" role="banner">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="." class="navbar-brand">Wazoku API</a>
        </div>
        <nav class="collapse navbar-collapse bs-navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="#/challenges">Challenges</a>
                </li>
                <li class="">
                    <a href="#/conversations">Conversations</a>
                </li>
                <li class="">
                    <a href="#/communities">Communities</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">


            </ul>
        </nav>
    </div>
</header>
<div class="bs-docs-header" id="content" tabindex="-1">
    <div class="container">
        <h1>Wazoku API Demo</h1>

        <p>An overview of what is possible with Wazoku-API</p>

    </div>
</div>
<div class="container">
    <div class="col-lg-12">
        <div class="col-lg-12">
            <form action="" class="form-inline">
                <div class="form-group">
                    <label for="">Change User</label>
                    <select class="form-control"
                            ng-model="current_user"
                            ng-change="changeUser()">
                        <option ng-repeat="u in users" value="{{u.username}}">
                            {{u.email}} ({{u.username}})
                        </option>

                    </select>
                    <p>Current User {{current_user}}</p>
                </div>
            </form>
        </div>
    </div>
    <div class="col-lg-8">
        <ng-view></ng-view>
    </div>
    <div class="col-lg-4">
        <h2>Errors</h2>
        <ul id="error-log"></ul>
    </div>
    <div id="loading">
        <img src="images/loading.svg"/>
    </div>
</div>
</body>
</html>